*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  font-family: "Verdana";
}

.container {
  max-width: 1000px;
  margin: auto;
}
.psevdo {
  padding: 20px 0;
}
.psevdo__title {
  padding: 20px 0;
  border-bottom: 2px dashed black;
  margin-bottom: 20px;
}

.psevdo__item {
  margin-bottom: 30px;
}

.psevdo__subtitle {
  margin-bottom: 10px;
}

.hover-block {
  display: inline-block;
  padding: 40px;
  background-color: brown;
}

.hover-block__link {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.hover-block__link:hover {
  /* opacity: 0; можно кликнуть */
  /* visibility: hidden; блики */
}

.hover-block:hover .hover-block__link {
  visibility: hidden;
}

.visited-block__link {
  color: black;
  font-size: 25px;
}

/* Если адресс по ссылке мы уже посещали, тогда используется стиль :visited */
.visited-block__link:visited {
  color: grey;
}

.last-child-block__item {
  width: 200px;
  background-color: darkcyan;
  padding: 20px;
  display: inline-block;
  margin: 0px 20px 20px 0px;
}

/* .last-child-block__item:last-child {
  background-color: blue;
} */

/* Меняем цвет у последнего элемента родителя такого же типа */
.last-child-block__item:last-of-type {
  background-color: blue;
}

/* Меняем стиль у третьего дочернего элемента */
.nth-child-block p:nth-child(3) {
  background-color: red;
}

.example-1 {
  font-size: 0;
}

.example-1__item {
  color: rgb(60, 127, 37);
  font-size: 20px;
  text-decoration: none;
  padding: 0px 15px;
  border-right: 2px solid black;
}

.example-1__item:first-of-type {
  padding-left: 0px;
}

.example-1__item:last-of-type {
  padding-right: 0px;
  border-right: none;
}

.example-2 {
  font-size: 0px;
}

.example-2__item {
  display: inline-block;
  width: 10%;
  height: 60px;
  background-color: black;
}

.example-2__item:nth-child(even) {
  background-color: rgb(163, 78, 78);
}

.first_line_block p::first-line {
  color: red;
  font-size: 60px;
}


.first_letter_block p::first-letter {
  color: red;
  font-size: 60px;
}

/* Вставляем элемент слева и справа */
.before_example_1 p::before,
.before_example_1 p::after
{
  content: "слово";
  color: red;
  font-size: 10px;
}


.before_example_2 p{
  display: inline-block;
}

/* Вставляем элемент сверху и снизу */
.before_example_2 p::before,
.before_example_2 p::after
{
  display: block;
  content: "слово";
  color: red;
  font-size: 10px;
  text-align: center;
}

/* Меняем курсор и отключаем стандартные маркеры*/
.before_example_3 li{
  list-style-type: none;
  cursor: pointer;
}

/* Доваляем свой маркер слева */
.before_example_3 li:hover::before {
  content: "\27A4";
  margin-right: 8px;
}


.before_example_4 a, 
.before_example_5 a
{
  color: black;
  text-decoration: none;
  font-size: 30px;
}

/* Задаём изображение с помощью content */
.before_example_4 a::before{
  content: url(../images/element.svg);
}

/* Задаём изображение с помощью background-image */
.before_example_5 a::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/element.svg);
  background-size: cover;
}

.before_example_6 a{
  text-align: center;
  line-height: 90px;
  font-family: Impact;
  display: inline-block;
  font-size: 40px;
  color: black;
  text-decoration: none;
  background-color: rgb(228, 177, 110);
  padding-left: 20px;
  border: 4px solid black;
}


.before_example_6 a::after {
  content: "\279C";
  display: inline-block;
  background-color: rgb(152, 103, 39);
  width: 90px;
  height: 90px;
  margin-left: 20px;
  border-left: 4px solid black;
}

.before_example_7 a{
  font-size: 40px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
} 

.before_example_7 a::after{
  content: "";
  display: block;
  background-color: black;
  height: 5px;
  width: 0%;
  transition: ease-in-out 1s;
  opacity: 0;
}

.before_example_7 a:hover {
  /* transform: scale(10); */
  /* transform: rotate(360deg); */
  transform: translateX(200px);
}


.before_example_7 a:hover::after {
  background-color:red;
  opacity: 1;
  width: 75%;
}







